.node {
  width: 25px;
  height: 25px;
  outline: 1px solid grey;
  display: inline-block;
}

.node-finish {
  background-color: #00ff00;
}

.node-start {
  background-color: #ff0000;
}

.node-wall {
  background-color: #000000;
}